@keyframes animatedBackground {
    from {
      background-position: top;
    }
    to {
      background-position: bottom;
    }
  }
  #animate-area {
    padding: 50px;
    height: 300px;
    background-size:cover;
    background-position: 0px 0px;
    background-repeat: repeat-x;
    animation: animatedBackground 80s linear infinite alternate;
  }