@keyframes animatedBackground {
    from {
      background-position: top;
    }
    to {
      background-position: bottom;
    }
  }
  #animate-area {
    padding: 50px;
    height: 300px;
    background-size:cover;
    background-position: 0px 0px;
    background-repeat: repeat-x;
    animation: animatedBackground 60s linear infinite alternate;
  }

  .player__button {
    width: fit-content;
    margin-bottom: 15px;
    background-color: transparent;
    border: none;
  }

  .player__button:hover {
    cursor: pointer;
  }